
nav {
  width: 100%;
  background-color: #333; 
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  text-align: center;
}

nav a {
  color: white; 
  padding: 10px 15px;
  text-decoration: none; 
  font-weight: 500;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555; 
}


nav a.active {
  color: #4a56e2; 
  font-weight: bold;
}